{% comment %}
  Cart Checkout Price Skeleton
  Loading state for checkout price during cart updates

  Usage:
  {% render 'cart-checkout-price-skeleton' %}
{% endcomment %}

<div class="cart-drawer__total-skeleton">
  <div class="skeleton skeleton--price">&nbsp;</div>
</div>
