{%- comment -%}
  Skeleton loader for blog link in search overlay
{%- endcomment -%}

<div class="search-overlay__blog-link search-overlay__skeleton">
  <div class="search-overlay__skeleton-text search-overlay__skeleton-text--lg">&nbsp;</div>
  <span class="search-overlay__blog-arrow">
    {{ 'icon-arrow-right.svg' | inline_asset_content }}
  </span>
</div>
