{%- comment -%}
  Skeleton loader for product card in search overlay
{%- endcomment -%}

<div class="search-overlay__product-card search-overlay__skeleton">
  <div class="search-overlay__product-image search-overlay__skeleton-box">&nbsp;</div>
  <div class="search-overlay__product-info">
    <div class="search-overlay__skeleton-text search-overlay__skeleton-text--sm">&nbsp;</div>
    <div class="search-overlay__skeleton-text search-overlay__skeleton-text--md">&nbsp;</div>
  </div>
</div>
